PORT=8080
DATABASE_URL=postgres://<dev-db-user>:<dev-db-password>@<dev-db-host>:5432/splittr?sslmode=require
GOOGLE_APPLICATION_CREDENTIALS=env/dev/firebase-key.json

# Swagger UI Credentials
SWAGGER_USER=admin
SWAGGER_PASSWORD=admin

# Goose Migrations
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://<dev-db-user>:<dev-db-password>@<dev-db-host>:5432/splittr?sslmode=require
GOOSE_MIGRATION_DIR=internal/db/migrations

# Cloudinary Image Storage Credentials (Optional)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

